# Ignorar carpetas de resultados y temporales
--NO SUBIR--
temp/
*.pkl
*.pyc
*.txt
tfg_project_test.qgz
# Ignorar archivos de configuración de VS Code
.vscode/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
